<?xml version="1.0" encoding="UTF-8"?>

<events>
	<event id="1">
		<name>magister łuczaka</name>
		<path>0</path>
		<value>1500</value>
	</event>
	<event id="2">
		<name>legendarne mondeo maćka</name>
		<path>0</path>
		<value>3000</value>
	</event>
	<event id="101">
		<name>przeciekający sufit</name>
		<path>0</path>
		<value>-1500</value>
	</event>
	<event id="102">
		<name>grota drabarka</name>
		<path>0</path>
		<value>-3000</value>
	</event>
</events>